body{
    font-family: 'Poppins', sans-serif;
}


header{
    text-align: center;
    background-color: rgb(27, 172, 165);
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
}

.container{
    border-style: solid;
    margin-bottom: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
}

.searchcontainer{
    border-style: solid;
    padding-top: 15px;

}

.futurecontainer{
    flex-wrap: nowrap;
    border-style: solid;
    
}

#cityhistory{
    border-style: solid;
    position: absolute;
    background-color: rgb(235, 233, 230);
}


